/*North Lime Colors:
Purple: #4C4C72,
Blue: #A4D4E0,
Tan: FFD89F,
Pink: D295AC
Green: A8F0C1;
Limer Green: #67E593;
*/


@media only screen and (max-width: 780px) {

	.container-fluid>.navbar-collapse, 
	.container-fluid>.navbar-header, .container>.navbar-collapse, 
	.container>.navbar-header {
		margin-right:0px;
	}
	
	div.container.navigation.main {
		width:100%;
		padding-right:5%;

	}

	.navbar-toggle {
		margin-left:20px;
	}

	div.googlechart {
		width:300px;
	}

	label.rememberme {
		margin-left:10px;
		margin-right:0px;
	}

	div.remembermediv {
		padding-right:5px;
		padding-left:5px;
	}

	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, 
	.table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		font-size:90%;
	}

	.orderselect {
		width:70%;
		margin-left:15%;
	}

	div.col-xs-10.createitem {
		padding-left:0px !important;
		padding-right:0px !important;
	}

	form.col-12.createitem{
		padding-left:0;
		padding-right:0;
	}

	th.text-left.cellwidth.counthead.a {
		width:55px;
	}

	th.text-left.cellwidth.counthead.b {
		width:170px;
	}

	th.text-left.cellwidth.counthead.c {
		width:195px;
	}

	th.text-left.cellwidth.counthead.d {
		width:150px;
	}

}


@media only screen and (min-width: 800px) {
	

	div.container.navigation.main {
		width:100%;
		padding-right:5%;
	}

	div.container.reportingtable {
		width:92%;
	}

	div.container.reportinggraphs {
		width:90%;
	}

	.orderselect {
		width:50%;
		margin-left:25%;
	}

	div.invoiceitems {
		margin-right:2.2rem !important;

	}

	input.typeahead.tt-input {
		width:500px !important;
	}

	input.typeahead.tt-hint {
		width:500px !important;
	}

	.cellwidth {
		width:150px; 
	}

	#chart_div2 {
		margin-left:125px !important;
	}

	#chart_div {
		margin-left:125px !important;
	}
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {
	font-family:'Roboto', sans-serif;
	background-color:#EEEEEE;
}

#app {
	width:100%;
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
}

#access_id {
	height:36px;
}

#store_id {
	height:36px;
}

div.col-xs-12.tablecol {
		padding-left:5px;
		padding-right:5px;
	}

div.container.page {
	background-color:#fff;
	border-radius:5px;
	border:1px solid #C3C5C7;
	padding-bottom:2%;
}

.filler {
	background-color:transparent;
	border:none;
	display:block;
}

.reportinglink {

}

.btn-sm {
	width:30px;
	padding-right:5px;
	padding-left:5px;
}

.invoiceButton {
	width:50px;
}

.invoiceButton2 {
	width:50px;
}

.glyphicon {
	width:10px;
}

td.text-left.borderless  {
    border: none !important;
}

th.text-left.borderless {
	border-bottom:2px solid #fff;
}

h3 {
	font-size:150%;
	color:#505050;
	text-align:left;
}

hr {
	margin-top:15px;
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #C3C5C7;
    padding: 0; 

}



.ordertop {
	width:95%;
	background-color:#636B6F;
	color:#fff;
	font-size:125%;
	padding-top:5px;
	padding-bottom:5px;
	margin-left:1px;
}

.panel-default>.panel-heading{
	font-size:150%;
	color:#636B6F;
}

.panel-default>.panel-heading.withtabs{
	padding-bottom:0;
}

.panel-default>.panel-heading.withtabs.reporting{
	padding-bottom:0;
	max-height:60px;
}	

div.orderform {
	background-color:#EEEEEE;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
}

.ordereditemshead {
	font-size:110%;
	font-weight:bold;
	text-decoration:underline;
}

div.container.ordereditems {
	margin-left:2%;
	width:95%;
	padding-bottom:15px;
	padding-top:15px;
	background-color:#EEEEEE;
	font-size:110%;
}

input.invoiceorder {
	width:75px;
	border:2px solid #C3C5C7;
}

.pageheaders {
	background-color:#fff;
	margin-top:0;
}

.cardText {
	margin-top:auto;
	margin-bottom:auto;
	/*display:block;*/
	position:relative;
	float:none;
}

/*.cardText a {
	margin-top:auto;
	margin-bottom:auto;
	color:#fff;
	text-decoration:none;
	font-size:100%;
}*/



a:hover, a:visited, a:link, a:active {
	text-decoration:none;
	color:#13C183;
}

a.bodylink:visited, a.bodylink:link, a.bodylink:active {
	color:#636B6F;
}

a.back:visited, a.back:link, a.back:active {
	color:#636B6F;
	font-size:150%;
}

a.back:hover {
	color:#2ACA81;
	font-size:150%;
}

.addMargin {
	margin-top:10%;
}

input.typeahead.tt-input{
	width:400px;
	height:50px;
	background-color:#EEEEEE /*!important*/;
}

input.typeahead.tt-hint{
	width:400px;
	height:50px;
	background-color:#EEEEEE /*!important*/;
}

input.orderquantity {
	width:70px;
	height:50px;
	border-style: inset;
	border-color: #F0F0F0;
	border-width: 2px;
	text-align:center;
}

.tt-menu {
	background-color:white;
}



.dropdown-menu {
	font-size:85%;
}

div.invoiceitems {
	background-color:#EEEEEE;
	padding-top:5%;
	margin-top:0;
	margin-right:0;

}

.invoicetable {
	width:70%;
	margin-left:15%;
}

.invcountwidth {
	width:100%;
	
}

.invoiceitems {
	background-color:;
}

input.invcountqty {
	width:70px;
	height:40px;
	text-align:center;
	border:2px solid #C3C5C7;;
}

.tableButton {
	background-color: #0F144E;
	color:#fff;
	margin-right:2px;
}

.lastTableButton {
	background-color: #0F144E;
	color:#fff;
	margin-right:8px;
}

a.btn.btn-link.forgot {
	color:#636B81;
}



a.tableButton {
	color:#fff;
}

a.lastTableButton {
	color:#fff;
}

.tabs:visited {
	background-color:#fff !important;
	color:#636B6F !important;
	float:right !important;
	border-top:none !important;
	border-left:none !important;
	border-right:none !important;
	border-bottom:4px solid transparent !important;
}


a.nav-link {
	background-color:#fff;
	color:#636B6F;
	float:right;
	font-size:80%;	
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:4px solid transparent;
}

a.nav-link:hover {
	background-color:#fff;
	color:#636B6F;
	float:right;	
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:4px solid #5cce84 !important;
}


.nav-tabs .nav-link.active {
	background-color:#fff;
	color:#636B6F;
	border-bottom:4px solid #5cce84 !important;
	border-top:none;
	border-right:none;
	border-left:none;
}

a.nav-link.active.reportingtabs {
	background-color:#fff;
	color:#636B6F;
	border-bottom:4px solid #636B6F !important;
	border-top:none;
	border-right:none;
	border-left:none;
}

a.nav-link.reportingtabs:hover {
	background-color:#fff;
	color:#636B6F;
	border-bottom:4px solid #636B6F !important;
	border-top:none;
	border-right:none;
	border-left:none;
}
/*ul.nav.nav-tabs li.nav-item.invoicetab a.nav-link.invoicelink, ul.nav.nav-tabs li.nav-item.invoicetab a.nav-link.invoicelink:hover {
	background-color:#FFF;
	border-bottom:none;
	border-top:none;
	border-right:none;
	border-left:none;
	color:#F5F8FA;
}*/

.nav-tabs {
	border-bottom:none;
}

div.container.openorder {
	padding-left:0px;
	padding-right:0px;
}


/*div.table-responsive {
	width:95%;
}

/*#table_wrapper{
	width:100%
}*/

/*table .table {
	width:100%;
}*/

button.btn.btn-primary.newcount {
	position:absolute;
	float:right;
	right:6%;
	/*
	Blue: #A4D4E0,
	Tan: FFD89F,
	Pink: D295AC
	Green: #67E593*/
	background-color:#5cce84;
	border-color:#5cce84
}

button.btn.btn-secondary {
	color:#636B6F;

}

button.btn.btn-primary.newcount:hover {
	position:absolute;
	float:right;
	right:6%;
	background-color:#1EA74C;
	border-color:#1EA74C;
}

button.btn.btn-primary.newitem {
	background-color:#5cce84;
	border-color:#5cce84
}

button.btn.btn-outline-primary.newitem {
	background-color:#91C9D8;
	border-color:#91C9D8;
	color:#fff;
}

input.btn.btn-primary.newitem {
	background-color:#5cce84;
	border-color:#5cce84
}

input.btn.btn-primary.newitem:hover {
	background-color:#1EA74C;
	border-color:#1EA74C;
}


button.btn.btn-outline-primary.newitem:hover {
	background-color:#82b4c2;
	border-color:#82b4c2;
	color:#fff;
}

button.btn.btn-primary.newitem:hover {
	background-color:#1EA74C;
	border-color:#1EA74C;
}

button.btn.btn-outline-primary.login {
	background-color:#0F144E;
	border-color:#0F144E;
	color:#fff;
}

button.btn.btn-outline-primary.login:hover {
	background-color:#4C4C72;
	border-color:#4C4C72;
	color:#fff;
}

.pagination>li>a, .pagination>li>span {
	color:#636B6F;
}

.orderselect {
	border:2px solid #636B6F;
	background-color:#fff;
	border-radius:5px;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0), 0 4px 11px 0 rgba(0, 0, 0, 0.19);
}

select.orderdropdown {
	height: 30px;
	width: 150px;
	margin-top:24px;
}

.orderShow {
	background-color:#636B6F;
}

.orderShowHead {
	background-color:#F5F8FA;
	font-size:110%;
}

.orderShowBody {
	background-color:#F5F8FA;
}

h3.orderform {
	color:#636B6F;
	margin-bottom:10px;
	margin-top:2px;
	font-size:130%;
}

h3.ordershow {
	color:#E53A40;
	font-size:130%;
}

div.col-xs-6.text-right.buttoncol {
	padding-bottom:0;
	padding-top:3%;
}

hr.orderform {
	margin-bottom:5px;
}


.datefilters {
	font-size:80%;
}


#datepicker1,#datepicker2,#datepicker3,#datepicker4,#datepicker5
#datepicker6,#datepicker7,#datepicker8 {
	border:1px solid #d3e0e9;
}

.counthead {
	background-color:#636B6F;
	color:#fff;
	font-size:95%;
}

label {
	margin-left:20px;
	margin-right:20px;
}

h3.mb-5.billing {
	margin-left:9%;
	color:#636B6F;
}


.table-top {
	margin-bottom:2px;
}

#category, #supplier, #uom, #order_method {
	line-height:35px;
	height:35px;
}

.createText {
	margin-right:0px;
	margin-left:0px;
}

.deleteText {
	margin-right:0px;
	margin-left:0px;
	color:#636B6F;
}

.deleteText2 {

	color:#636B6F;
}

button.btn.btn-default {
	/*border-color:#636B6F;*/
	background-color:#9c9d9f;
	color:#fff;
}

button.btn.btn-default:hover {
	/*border-color:#636B6F;*/
	background-color:#636B6F;
	color:#fff;
}

button.btn.btn-outline-danger {
	background-color:#E53A40;
	color:#fff;
}

button.btn.btn-outline-danger:hover {
	color:#fff;
	background-color:#b72e33;
}

.submitButtonSpace {
	margin-right:0px;
}

.dataTables_paginate{
	margin-left:10px;
}

div.row.reportingheader {
	margin-top:0;
	background-color:#EEEEEE;
	color:;
	/*margin-left:1%;*/
/*	border-top:2px solid #A8A8A8;
	border-bottom:2px solid #A8A8A8;*/
/*	border-left:1px solid #636B6F;
	border-right:1px solid #636B6F;*/
}

h2.reportingh2 {
	font-size:150%;
	margin-top:2%;
}

div.panel-body.reporting {
	padding-top:0;
}

div.panel.panel-default.reporting {
	border-width:2px;
	border-color: #B0B0B0;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
	background-color:#5cce84;
	border:#5cce84;
}

select {
	border:2px solid #808080;
}

.createForm {
	background-color:#636B6F;
	color:#fff;
	/*North Lime Colors:
Purple: #4C4C72,
Blue: #A4D4E0,
Tan: FFD89F,
Pink: D295AC
Green: A8F0C1;
Limer Green: #67E593;
*/
}

button.btn.btn-success {
	background-color:;
}

.deleteForm {

	color:#E53A40;
	border:2px solid #636B6F;
	background-color:#fff;
	border-radius:5px;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0), 0 4px 11px 0 rgba(0, 0, 0, 0.19);
	font-size:120%;
}

.logoimage {
	width:50px;
	height:40px;
	display:inline-block;
}

.loginside {
	display:table;
	width:40%;
	height:100vh;
	float:right;
	display:flex;
	align-items:center;
}

.logingroup {
	width:100%;
}

h3.billing {
	color:#fff;
}

.northlimeimage {
	display: table;
    width: 60%;
    height: 100vh;
    float: left;
    background: url(northlime.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


button.ordercategory, button.ordercategory:visited, button.ordercategory:focus, 
button.ordercategory:visited {
	width:95%;
	background-color:#636B6F;
	text-align:left;
	padding-left:3%;
	padding-top:2%;
	padding-bottom:2%;
	border:#636B6F;
	color:#fff;
}

button.ordercategory:hover, button.ordercategory:active {
	background-color:#2ACA81;
	text-align:left;
	padding-left:3%;
	padding-top:2%;
	padding-bottom:2%;
	border:#636B6F;
	color:#fff;
}

input.backorder {
	 -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #C3C5C7;
}

input.backorder:checked {
    background-image: url(checkmark.png);
    background-size:cover;
}

.table tbody tr td {
   text-align: center; 
   vertical-align: middle;  
}

.table thead tr th {
   text-align: center; 
   vertical-align: middle;  
}

.tableborder {
	border:1px solid #C3C5C7;
	/*background-color:#fff;*/
	border-radius:5px;
}

th.text-left.sorting {
	background-color:#636B6F;
	color:#fff;
}

th.text-left.reporting.sorting {
	background-color:#636B6F;
	color:#fff;
	font-size:90%;
}

th.text-left.reporting.sorting_asc {

	font-size:90%;
}

th.text-left.reporting.sorting_desc {

	font-size:90%;
}

td.text-left.reporting {
	font-size:80%;
}

table.table.table-striped.dashboardtable {
	
	background-color:#fff;
	border:1px solid #C3C5C7;
	border-radius:5px;
}

#dashboard_div2 {
	width:100%;
}

div.container.dashboardcontainer {
	background-color:#636B6F;
	border-radius:5px;
	width:90%;
	margin-left:5%;
	margin-bottom:5%;
	padding-left:3%;
	padding-right:3%;
	padding-right:3%;
	padding-bottom:3%;
}

div.panel-body.items {
	font-size:130%;
}

div.dashboarddiv {
	max-height:200px;
	border:1px solid #C3C5C7;
	color:#000;
}

.card-title {
	margin-top:2px;
	font-size:125%;
}

div.card-block.dashboard {
	height:250px;
}


#demandblock {
	background-color:#91C9D8;
	padding-top:0;
	padding-bottom:0;
	border:none;
	width:100%;
}

#demandblocktable {
	color:white;
	width:85%;
	font-size:120%;
	margin-left:7%;
	margin-top:2%;
	margin-bottom:2%;
	border:none;

}

#dueorderblock {
	background-color:#e5af61;
	padding-top:0;
	padding-bottom:0;
	border:none;
	width:100%;
}

#dueordertable {
	color:white;
	width:85%;
	font-size:120%;
	margin-left:7%;
	margin-top:2%;
	margin-bottom:2%;
}

#spendblock {
	background-color:#D395AC;
	padding-top:0;
	padding-bottom:0;
	border:none;
	width:100%;
	font-size:400%;
	color:#fff;
	text-align:center;
}

#notcountedblock {
	background-color:#5cce84;
	padding-top:0;
	padding-bottom:0;
	border:none;
	width:100%;
}

#notcountedtable {
	color:white;
	width:85%;
	font-size:120%;
	margin-left:7%;
	margin-top:2%;
	margin-bottom:2%;
}

.cardblocktext {
	position:relative;
	vertical-align: middle;
	display:inline-block;
	top:30%;
}

.card {
/*	padding-left:5px;
	padding-right:5px;*/
	/*padding-bottom:5px;*/
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0), 0 4px 11px 0 rgba(0, 0, 0, 0.19);
	border:none;
/*	border-radius:5px;*/
	/*border:2px solid #C3C5C7;*/
}

.card-header {
	background-color:#fff;
	font-size:150%;
	text-align:center;
	/*color:#5cce84;*/
}

.card-footer {
	height:50px;
}
/*Top Navigation Menu*/

nav {
	font-size:120%;
}


a.navbar-brand {
	font-size:125%;
	float:right;
	padding-top:0px;

}

.navbar-brand {
	margin-right:0px;
	padding-right:0px;
}

nav.navbar.navbar-default.navbar-static-top {
	padding-left:0;
}

.table>tbody>tr>td, .table>tbody>tr>th, 
.table>tfoot>tr>td, .table>tfoot>tr>th, 
.table>thead>tr>td, .table>thead>tr>th {
	border-top:none;
	border-bottom:none;
}

.navbar-default {
	background-color: #0F144E;
	color:#fff;
	width:100%;
}

.navbar-default .navbar-brand{
	color:#fff;
}

.navbar-default .navbar-brand:hover {
	color:#fff;
}

.navbar-default .navbar-nav>li>a {
	color:#fff;
}

.navbar-default .navbar-nav>li>a, a:visited{
	color:#fff;
}

.navbar-default .navbar-nav>li> a:hover{
	background-color:#4C4C72;
	color:#fff;
}



.navigation {
	/*padding-top:2%;
	padding-bottom:2%;*/
	padding-left:0px;
}

div.container.navigation.main {
	margin-left:20px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 13px solid #f3f3f3;
  border-radius: 50%;
  border-top: 13px solid #5cce84;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loaderDiv {
  display: none;
  text-align: center;
}

/*Sidebar Menu*/
#toggleimage {
  -moz-transition: transform .8s linear;
  transition: transform .8s linear;
  -webkit-transition: transform .8s linear;
 
}

a#menu-toggle {
	font-size:150%;
}

i.fa.fa-bars:hover {
	color:#4C4C72;

}

i.fa.fa-bars:active, i.fa.fa-bars::before{
	color:#fff;

}

/*.btn-info {
	background-color:#C3C5C7;
	border:.5px solid #0F144E;
	color:#0F144E;
}*/

.flip {
  transform: rotate(-90deg);
}


.sidenav a.closebtn {
	/*padding:8px 8px 8px 25px;*/
	position:absolute;
	right:10px;
	padding-top:1px;

}

.sidenav a.closebtn:hover {
	background-color:#0F144E;
}

a.itemsrow {
	margin-top:20%;
}

#donut {
	background-image: url(donut.png);
    background-size:cover;
    width:40px;
    height:40px;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0F144E;
    overflow-x: hidden;
    transition: .8s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 130%;
    color: #f1f1f1;
    display: block;
    transition: 1s;
}

.sidenav a:hover, .sidenav a:active {
    background-color: #4C4C72;
}

.sidenav .closebtn {
    color:#fff;
    font-size: 36px;
    text-align:right;
}





